body{
   border: 20px solid red;
   max-width: 1440px;
   max-height: 900px;
   margin: 0;
   
}
.header img{
   display: block;
   position: absolute;
   left: 0px;
   top: 0px;
   min-width: 1480px;
}
.logo img{
   display: block;
   position: absolute;
   left: 61px;
   top: 100px;
   

}
.form {
   display: flex;
   flex-direction: column ; 
   max-width: 250px;
   margin: 120px auto;
   gap: 20px
}