body{
   border: 20px solid red;
   max-width: 1440px;
   max-height: 900px;
   margin: 0;
   
}
.header img{
   display: block;
   position: absolute;
   left: 0px;
   top: 0px;
   min-width: 1480px;
}
.logo img{
   display: block;
   position: absolute;
   left: 61px;
   top: 100px;
   

}
.form {
   display: flex;
   flex-direction: column ; 
   max-width: 318px;
   margin: 120px auto;
   gap: 20px
}
.red_form{
   width: 318px;
   height: 30px;
   padding-left: 10px;
   background: #FFFFFF;
   border: 1px solid #E24429;
   box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}
.grey_form{
   width: 318px;
   height: 30px;
   padding-left: 10px;
   background: #FFFFFF;
   border: 1px solid #E5E5E5;
   box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}



label{
   font-family: 'TT Commons';
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.05em;
   color: #C4C4C4;
}
label span{
   color: #E24429;
   

}
.Colaborators{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.switch {
   position: relative;
   display: inline-block;
   width: 44px;
   height: 24px;
 }
 .switch_row{
   display: flex;
   justify-content: space-between;
   font-family: 'TT Commons';
   font-size: 24px;
   line-height: 24px;
   letter-spacing: 0.05em;
   color: #666666;
 }
 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 .slider:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: 22px;
   bottom: 10%;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 input:checked + .slider {
   background-color: #E24423;
 }
 input:checked + .slider:before {
   -webkit-transform: translateX(-20px);
   -ms-transform: translateX(-20px);
   transform: translateX(-20px);
 }
.slider.round {
   border-radius: 34px;
}
.slider.round:before {
   border-radius: 50%;
}
button{
   border: none;
   width: 318px;
   height: 50px;
   background: #E24429;
   box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 25px;
   font-family: 'TT Commons';
   font-size: 24px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.05em;
   color: #FFFFFF;
}
.privacy_policy{
   font-family: 'TT Commons';
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.05em;
   color: #C4C4C4;
}

.privacy_policy a{
   text-decoration: none;
   color: #E24423;
}  
.footer_checkbox{
   display: flex;
}
.ckeckbox_prvacy_policy{
   margin-bottom: 27px;
   
}